In [1]:
from pandas import DataFrame
score = {'语文':[68, 95, 98, 90,80],  '数学':[65, 76, 86, 88, 90], '英语':[30, 98, 88, 77, 90]}
df= DataFrame(score, index=['张飞', '关羽', '刘备', '典韦', '许褚'], columns=['语文','数学', '英语'])
df

    语文  数学  英语
张飞  68  65  30
关羽  95  76  98
刘备  98  86  88
典韦  90  88  77
许褚  80  90  90

In [2]:
mean=df.mean()
max=df.max()
min=df.min()
std=df.std()
var=df.var()
result1=DataFrame(list(zip(mean,max,min,var,std)),index=["语文","数学","英语"],columns=["平均值","最大值","最小值","方差","标准差"])
result1

     平均值  最大值  最小值     方差        标准差
语文  86.2   98   68  150.2  12.255611
数学  81.0   90   65  109.0  10.440307
英语  76.6   98   30  734.8  27.107195

In [5]:
sum_score=df.sum(axis=1)
sum_score.sort_values(ascending=False)

刘备    272
关羽    269
许褚    260
典韦    255
张飞    163
dtype: int64